<h1>Parking {{ (parkingOb$ | async)?.Id }} media {{((media$ | async)!.ocupaciones / (media$ | async)!.actualizaciones).toFixed(2)}}</h1>
<div class="container">
  <h2>Insertar parking</h2>
  <input type="file" accept=".json" id="nombre" #nombreInput>
  <div id="enviar" (click)="handleClick()">Enviar</div>
  <br>
  <br> 
  <h2>Elige un parking:</h2>
  <select id="options" name="options" (change)="handleChange($event)">
    <option *ngFor="let element of Parkings" [value]="element.Id">{{ element.Nombre }}</option>
  </select>
</div>
<table border="1">
  <tr *ngFor="let fila of filas">
    <td *ngFor="let columna of columnas">
      <ng-container *ngIf="getElement(fila, columna) as element">
        <div [ngClass]="{
              'plaza-ocupada': element.esPlaza && element.ocupado,
              'plaza-sinocupar': element.esPlaza && !element.ocupado,
              'celda-true': !element.esPlaza 
            }">
          {{ element.esPlaza ? (element.ocupado ? 'Ocupado' : 'Libre') : '_' }}
        </div>
      </ng-container>
    </td>
  </tr>
</table>
