/* src/app/header/header.component.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background: linear-gradient(to right, #333, #555);
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo img {
    height: 50px;
    transition: transform 0.3s ease;
  }

  .logo img:hover {
      transform: scale(2.0);
  }
  
  /*Footer*/
  footer {
    background-color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
  }
  
  